<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Hello, I am Gopher! </h2>
     <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://huiyie.github.io/assets/media/golang.gif" id="icon" alt="User Icon" />
      </div>

      <h3 class="active">Welcome {{.First}} {{.Last}}</h3>
  
      <!-- Login Form 
      <form action="/res" method="post">
        
      </form> -->
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="https://github.com/patrickn699/Golang-Examples">Source Code</a>
      </div>
  
    </div>
  </div>

</html>